@media only screen and (max-device-width: 600px) {

    /* Menu */

    .main_menu {
        background-image: url(../img/contain_mob.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 500px;
        display: flex;
        padding: 40px;
        align-items: flex-end;
        gap: 10px;
    }

    .top_sec_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .gallery_tab {
        padding: 20px;
    }
    ul.menu_tab-tabs li.nav-item {
        width: 100%;
        max-width: 167px;
    }

    .gallery_quad_b>*:nth-child(3) {
        grid-column: span 2;
    }

    .menu_tab-footer {
        display: flex;
        width: 100%;
        max-width: 1920px;
        padding: 20px;
        align-items: center;
        gap: 60px;
        background: #1e1e1d;
        flex-direction: column;
    }

    .our_menu_text {
        color: #FFF;
        font-family: "Cormorant Garamond";
        font-size: 52px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .tab_side {
        padding: 20px;
    }

    .menu_tab-tabs .nav-link {
        display: flex;
        padding: 16px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        color: #D4CAB8;
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }

    .menu_tab-tabs .nav-link.active {
        display: flex;
        padding: 16px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        border-bottom: 2px solid #F8D49E;
        color: #F8D49E;
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }

    .menu_tab-tabs {
        border-bottom: 1px solid rgba(248, 212, 158, 0.15);
        justify-content: space-around;
        margin-bottom: 40px;
    }


    .menu_tab-title h2 {
        color: #FFF;
        text-align: center;
        font-family: "Cormorant Garamond";
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 16px;
    }

    .menu_tab-title p {
        color: #F8D49E;
        font-family: "Josefin Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 0px;
        max-width: 205px;
        margin-left: auto;
        margin-right: auto;
    }

    .lieene {
        background-color: #463f34;
        height: 1px;
        margin: 0px auto 24px;
    }

    .menu_tab-item h6 {
        color: #FFF;
        font-family: "Cormorant Garamond";
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 6px;
    }

    .spave {
        height: 10px;
    }

    .menu_tab-section h4 {
        margin-bottom: 24px;
    }

    .menu_tab-price {
        color: #F8D49E;
        font-family: "Cormorant Garamond";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .menu_tab-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.04) !important;
    }

    .menu_tab-footer-title {
        color: #FFF;
        font-family: "Cormorant Garamond";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .menu_tab-footer-text {
        color: rgba(212, 202, 184, 0.70);
        font-family: "Josefin Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 184.615% */
    }

    .menu_tab-footer {
        gap: 16px;
    }

    .verti_line {
        width: 100%;
        height: 2px;
        flex-shrink: 0;
        background-color: #403a26;
        margin: 0px;
    }

    /* Gallery */

    .grind_duo_box {
        display: flex;
        gap: 8px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .gallery_quad_b {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .gallery_quad_b .grind_duo_box:last-child {
        display: flex;
    }

    .gallery_tab-nav {
        flex-wrap: nowrap;

    }

    .gallery_tab-nav .nav-link.active {
        color: #1A1A1A;
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 16px 0px;
        width: 81.75px;

    }


    .gallery_tab-nav .nav-link {
        color: #D4CAB8;
        text-align: center;
        font-family: "Josefin Sans";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 16px 0px;
        width: 81.75px;


    }






}















@media only screen and (min-width: 601px) and (max-width:1151px) {}

@media only screen and (min-width: 1152px) and (max-width:1199px) {}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1279px) {}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1339px) {}

@media only screen and (min-device-width: 1349px) and (max-device-width: 1439px) {}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1499px) {}

@media only screen and (min-device-width: 1500px) and (max-device-width: 1599px) {}

@media only screen and (min-device-width: 1600px) and (max-device-width: 1799px) {}

@media only screen and (min-device-width: 1800px) and (max-device-width: 1919px) {}

@media only screen and (min-device-width: 1921px) and (max-device-width: 2040px) {}

@media only screen and (min-device-width: 2040px) and (max-device-width: 2240px) {}

@media only screen and (min-device-width: 2240px) and (max-device-width: 2560px) {}